<! DOCTYPE html >
<html lang ="en">
    <head>
        <meta charset ="utf-8">
        <meta name ="viewport" content ="width=device-width , initial-scale=1">
        <title> MTR Hong Kong Fare and Barrier Free Facilities -- Account </title>
        </head>
    <body>
        <h1> MTR Hong Kong fare and barrier free facilities search </h1>
        <p> Hello {{ username }} ! </p>
        <h2> Account page </h2>
        <form method = "post" action = "{% url 'preference' %}">
            {% csrf_token %}
            Prefered Departing Station :
            <select name = "Preference Source Station" id = "preferred_source_station">
                <option value = "0"> --- </option>
                {% for station in station_list %}
                    <option value = "{{ station.Station_ID }}"
                        {% if station.Station_ID == userPref.Pref_source_station_id %}
                            selected
                        {% endif %}
                    > {{ station.English_Name }}
                    </option>
                {% endfor %}
            </select>
            Prefered Destination Station :
            <select name = "Preference Destionation Staion" id = "preferred_dest_station">
                <option value = "0"> --- </option>
                {% for station in station_list %}
                    <option value = "{{ station.Station_ID }}"
                        {% if station.Station_ID == userPref.Pref_dest_station_id %}
                            selected
                        {% endif %}
                    > {{ station.English_Name }}
                    </option>
                {% endfor %}
            </select>
            <button type ="submit"> Save </button>
        <!-- /form -->
        <div class = "Facility List" >
            <!-- Loop through dictionary of list reference to -->
            <!-- https://forum.djangoproject.com/t/loop-through-dictionary-of-lists/2849 -->
            <!-- Django Templating: how to access properties of the first item in a list -->
            <!-- https://stackoverflow.com/questions/1479206/django-templating-how-to-access-properties-of-the-first-item-in-a-list -->
            <!-- form method = "post" action = "{% url 'preference' %}" -->
            {% for category , facility_list in facilities.items %}
                <h3>
                    <!-- check the box if it is in preferred category -->
                    <input type = "checkbox" name = "BarrCat" value = "{{ facility_list.0.Category_Id }}"
                        {% if facility_list.0.Pref_Category %} checked {% endif %}
                    >
                    <label for = "{{ category }}" > Category : {{ category }} </label>
                </h3>
                <ul>
                    {% for item in facility_list %}
                    <li>
                        <!-- check the box if it is in preferred facility -->
                        <input type = "checkbox" name = "BarrFac" value = "{{ item.Item_Code }}"
                            {% if item.Pref_Facility %} checked {% endif %}
                        >
                        <label for = "{{ item.Facility_En }}" >  Facility : {{ item.Facility_En }} </label>
                    </li>
                    {% endfor %}
                </ul>
            {% endfor %}
            </form>
        </div>
        <a href = "{% url 'homepage' %}" > Home </a>
    </body>
</html>

