<! DOCTYPE html >
<html lang ="en">
    <head>
        <meta charset ="utf-8">
        <meta name ="viewport" content ="width=device-width , initial-scale=1">
        <title> MTR Hong Kong Fare </title>
        </head>
    <body>
        <h1> MTR Hong Kong fare search </h1>
        <p> Hello {{ username }} ! </p>
        <div class = "Title" >
            <h2> Barrier free facilities in the station {{ station.English_Name }} </h2>
        </div>
        <div class = "Facility List" >
            <!-- Loop through dictionary of list reference to -->
            <!-- https://forum.djangoproject.com/t/loop-through-dictionary-of-lists/2849 -->
            {% for category , facility_list in facilities.items %}
                <h3> Category : {{ category }} </h3>
                <ul>
                    {% for item in facility_list %}
                    <li>
                        Facility : {{ item.Facility_En }}
                        {% if Adjacent_To %}
                        , Adjacent To : {{ Adjacent_To }}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <a href = "{% url 'homepage' %}" > Home </a>
    </body>
</html>

