<! DOCTYPE html >
<html lang ="en">
    <head>
        <meta charset ="utf-8">
        <meta name ="viewport" content ="width=device-width , initial-scale=1">
        <title> MTR Hong Kong Fare and Barrier Free Facilities -- Barrier Free Facilities in {{ station.English_Name }} Station </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'mtrfare/style.css' %}">
    </head>
    <body>
        <div class = "banner" >
            <h1> MTR Hong Kong fare and barrier free facilities search </h1>
            <p> Hello {{ username }} ! </p>
        </div>
        <!-- div class = "Facility List" -->
        <div class = "facilities" >
            <h2> Barrier free facilities in the {{ station.English_Name }} station</h2>
            <!-- Loop through dictionary of list reference to -->
            <!-- https://forum.djangoproject.com/t/loop-through-dictionary-of-lists/2849 -->
            {% for category , facility_list in facilities.items %}
                <h3> Category : {{ category }} </h3>
                <ul>
                    {% for item in facility_list %}
                    <li>
                        Facility : {{ item.Facility_En }}
                        {% if item.Adjacent_To %}
                        , Adjacent To : {{ item.Adjacent_To }}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <div class = "bottom-container" >
            <div> <a href = "{% url 'homepage' %}" > Home </a> </div>
            {% if username != "Guest" %}
                <div> <a href = "/account"> Account </a> </div>
                <div> <a href = "/logoff"> Logoff </a> </div>
            {% else %}
                <div> <a href = "/logon"> Logon </a> </div>
                <div> <a href = "/register"> Register </a> </div>
            {% endif %}
            {% if messages %}
                <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </body>
</html>

