<! DOCTYPE html >
<html lang ="en">
    <head>
        <meta charset ="utf-8">
        <meta name ="viewport" content ="width=device-width , initial-scale=1">
        <title> MTR Hong Kong Fare </title>
        </head>
    <body>
        <h1> MTR Hong Kong fare search </h1>
        <p> Hello {{ username }} ! </p>
        <div class = "Title" >
            <h2> Barrier free facilities in the station {{ station.English_Name }} </h2>
        </div>
        <a href = "{% url 'homepage' %}" > Home </a>
    </body>
</html>

