<! DOCTYPE html >
<html lang ="en">
    <head>
        <meta charset ="utf-8">
        <meta name ="viewport" content ="width=device-width , initial-scale=1">
        <title> MTR Hong Kong Fare and Barrier Free Facilities </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'mtrfare/style.css' %}">
    </head>
    <body>
        <div class = "banner" >
            <h1> MTR Hong Kong fare and barrier free facilities search </h1>
            <p> Hello {{ username }} ! </p>
        </div>
        <div class = "middle_container" >
                <div>

            <form method = "post" action = "{% url 'showfare' %}">
                {% csrf_token %}
                    From :
                    <select name = "Departing From" id = "source_station">
                        {% for station in station_list %}
                            <option value = "{{ station.Station_ID }}"
                                {% if station.Station_ID == userPref.Pref_source_station_id %}
                                    selected
                                {% endif %}
                            >
                            {{ station.English_Name }} 
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    To :
                    <select name = "Going To" id = "dest_station">
                        {% for station in station_list %}
                            <option value = "{{ station.Station_ID }}"
                                {% if station.Station_ID == userPref.Pref_dest_station_id %}
                                    selected
                                {% endif %}
                            >
                            {{ station.English_Name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                <button type ="submit"> Get fare </button>
            </form>
            </div>
        </div>
        <div class = "bottom-container" >
            <div> <a href = "{% url 'homepage' %}" > Home </a> </div>
            {% if username != "Guest" %}
                <div> <a href = "/account"> Account </a> </div>
                <div> <a href = "/logoff"> Logoff </a> </div>
            {% else %}
                <div> <a href = "/logon"> Logon </a> </div>
                <div> <a href = "/register"> Register </a> </div>
            {% endif %}
        </div>
        {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    </body>
</html>

