<! DOCTYPE html >
<html lang ="en">
    <head>
        <meta charset ="utf-8">
        <meta name ="viewport" content ="width=device-width , initial-scale=1">
        <title> MTR Hong Kong Fare and Barrier Free Facilities -- Register </title>
        </head>
    <body>
        <h1> MTR Hong Kong fare and barrier free facilities search </h1>
        <h2> Register page </h2>
        <form method ="post" action ="{% url 'registering' %}">
            {% csrf_token %}
            <p> username : <input name ="username" value ="{{ username }}"> </p>
            <p> password : <input type = "password" name ="password" value ="{{ password }}"> </p>
            <button type ="submit"> Register </button>
        </form>
        {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    </body>
</html>

