<! DOCTYPE html >
<html lang ="en">
    <head>
        <meta charset ="utf-8">
        <meta name ="viewport" content ="width=device-width , initial-scale=1">
        <title> MTR Hong Kong Fare </title>
        </head>
    <body>
        <h1> MTR Hong Kong fare search </h1>
        <p> Hello {{ username }} ! </p>
        <div class = "journey" >
            <p> Click on station name for barrier free facilities in that station </p>
            <p> From : <a href = " {% url 'barrfac' source_station.Station_ID %} " > {{ source_station.English_Name }} </a> </p>
            <p> To : <a href = " {% url 'barrfac' dest_station.Station_ID %} " > {{ dest_station.English_Name }} </a> </p>
        </div>
        <div class = "octopus_fare">
            <p> Octopus Card Adult : {{ card_adult }} </p>
            <p> Octopus Card Children : {{ card_children }} </p>
            <p> Octopus Card Student : {{ card_student }} </p>
            <p> Joyyou Octopus Card Elderly Citizens : {{ card_60 }} </p>
            <p> Octopus Card Elderly : {{ card_elderly }} </p>
            <p> Octopus Card Disabled Person : {{ card_disabled }} </p>
        </div>
        <div class = "single_fare" >
            <p> Single Ticket : {{ single_ticket }} </p>
            <p> Single Children Ticket : {{ single_children }} </p>
            <p> Single Elderly Ticket :  {{ single_elderly }} </p>
        </div>
        <a href = "{% url 'homepage' %}" > Home </a>
    </body>
</html>

